*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

footer,
header,
nav,
section,
html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-size: 1.6rem;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

img {
  max-width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: rgb(214, 239, 252);
}

header, footer {
  font-size: 1.8rem;
  min-width: 100%;
  min-height: 20px;
  background-color: rgb(41, 87, 9);
  color: rgb(214, 239, 252);
  padding: 10px;
  text-align: center;
}

main {
  position: relative;
  margin: 0 auto;
  position: 0, 0;
  max-width: 1000px;
  flex-direction: column;
}

.vignette {
  display: block;
  height: 100px;
  object-fit: contain;
  margin: auto;
  cursor: pointer;
}

/**
** Mise en forme lien comme un bouton
**/
a.bouton {
  text-decoration: none;
  padding: 5px 5px;
  background-color: rgb(96, 124, 25);
  color: white;
  border: 1px solid gray;
  border-style: inset;
  border-radius: 12px;
  border: 2px solid #46a28d;
}
a.bouton:hover {
  background-color: yellow;
  color: red;
}

/*******************************************************
** Mise en Forme de la Nav bar
**/
.logo {
  color: white;
  font-size: 2rem;
  line-height: 70px;
}

.icon {
  fill: white;
  margin-right: 0px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.navbar input, .nav-menu, .dropdown {
  display: none;
  z-index: 50;
  background-color: rgb(41, 87, 9);
}

[id^=btn]:checked + ul {
  display: block;
}

.nav-menu {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
}

.nav-item a, .drop-item a, .show {
  color: white;
  padding: 0 10px;
  text-decoration: none;
  background-color: rgb(96, 124, 25);
  font-size: 1.4rem;
  /* This flexbox code stretches the link's clickable 
   	* area to fit its parent block. */
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}

.pos {
  position: relative;
}

li {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  height: 30px;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: rgb(41, 87, 9);
}

li:hover ul.dropdownOnHover {
  display: block;
}

ul.dropdownOnHover {
  background-color: rgb(76, 158, 29);
  display: none;
  color: black;
  z-index: 100;
  width: max-content;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(50%);
}

.nav-menu a:hover, .show:hover {
  background-color: rgb(76, 158, 29);
}

@media screen and (min-width: 768px) {
  .icon {
    display: none;
  }
  .nav-menu {
    display: initial;
    position: static;
  }
  .nav-item {
    display: inline-block;
    position: relative;
  }
  .dropdown, ul.dropdownOnHover {
    position: absolute;
    top: 100%;
    left: 0%;
    width: max-content;
  }
  ul.dropdownOnHover {
    transform: translateX(0%);
  }
}
/*****************************************************
** Mise en forme Generique pour les Formulaires 
**
*/
form {
  margin-top: 30px;
}
form fieldset {
  margin-bottom: 15px;
  padding: 10px;
}
form legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}
form label {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}
form em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form input:focus {
  background: #eaeaea;
}
form input, form textarea {
  width: 249px;
}
form textarea {
  height: 100px;
}
form select {
  width: 254px;
}
form input[type=checkbox] {
  width: 10px;
}
form input[type=submit] {
  display: block;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  margin: auto;
}
form .radio {
  width: 50px;
}
form .preview {
  display: block;
  background-color: rgb(241, 247, 249);
}
form .preview img {
  margin: auto;
  height: 200px;
  width: auto;
}

/*****************************************************
** Mise en forme Generique pour les tableaux 
*/
.catalog img {
  display: block;
  height: 70px;
  object-fit: contain;
  margin: auto;
  cursor: pointer;
}
.catalog table {
  table-layout: auto;
  max-width: 100%;
}
.catalog tr,
.catalog td {
  border: solid;
}
.catalog td {
  max-width: 400px;
  border: 1px solid blue;
  overflow: auto;
  white-space: normal;
  vertical-align: middle;
  padding: 5px;
}
.catalog input[type=submit] {
  display: block;
  width: 80px;
  padding: 10px;
  border-radius: 20px;
  margin: auto;
}

/*****************************************************
** affichage en grand d'un miniature au click sur la vignette
*/
.modal-window {
  display: block;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s;
  cursor: pointer;
}
.modal-window > img {
  border-radius: 40px;
  display: block;
  border: 4rem ridge thick double #3a1a70;
  padding: 4rem;
  height: 80%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: rgb(96, 124, 25);
}

.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}/*# sourceMappingURL=style.css.map */