// couleurs 
$color-1:rgba(214, 239, 252, 1);
$color-2:rgba(96, 124, 25, 1);
$color-3:rgba(236, 200, 5, 1);
$color-4:rgba(177, 213, 230, 1);
$color-5:rgba(41, 87, 9, 1);

$color-success: green;
$color-error: red;
$color-info: blue;

$primary: #907dda;
$accent: #e5e4ea;
$font-light: #e7e6f1;
$font-dark: black;



$policeSize: (
  // body: 1.6rem, // déja déclarée dans le reset
  noel: 4rem,
  grosTitre: 3.2rem,
  moyenTitre: 2.5rem,
  petitTitre: 2rem
);

$breakPoints: (
  mobile: 768px,
  // mode mobile jusqu'à 768px
  tablet: 1025px,
  // mode tablet jusqu'à 1024 px
);

// utilisation :  font-size: map-get($policeSize, body);
